<template name="<%= Name %>Item">
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default panel-block">
        <div class="list-group">
          <div class="list-group-item">
          {{#if doc}}
            <h4><%= Name %> update {{doc._id}}</h4>
            {{> quickForm collection=collection id="<%= Name %>UpdateForm" type="update" doc=doc}}
          {{else}}
            <h4><%= Name %> insert</h4>
            {{> quickForm collection=collection id="<%= Name %>InsertForm" type="insert"}}
          {{/if}}
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
